<nav class="navbar navbar-default navbar-fixed-top navbar-transparent">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to image_tag('logo.png'), new_sentence_path, :class => "logo" %> 
    </div>
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="<%= static_pages_about_path %>">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>  
  </div>
  </div>
</nav>